.book-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
  gap: 10px;
}

.book-card {
  display: grid;
  grid-template-rows: 20px 90px 1fr;
  gap: 15px;
  position: relative;
  padding: 40px;
  border: 1px solid var(--secondary-color);
  height: 450px;
}

.card-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 6px;
  height: 40;
  width: 40;
  font-weight: 700;
  font-size: 24px;
}

.book-author,
.book-title {
  font-family: 'Montserrat', sans-serif;
}

.book-title {
  font-size: 36px;
  font-weight: 700;
}

.book-author {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.book-desc {
  font-size: 16px;
  font-weight: 700;
}

.read-more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 18px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.read-more-btn .read-btn-text {
  font-size: 14px;
}

.read-more-btn .read-more-arrow {
  font-size: 18px;
}

.read-more-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}